.instagram-logo {
    width: 200px;
}

.instagram-login {
    text-align: center;
    padding: 15px;
}
.form-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}